.navbar {
  border: solid black;
  width: 99%;
  height: 50px;
  margin: 5px;
  display:flex;
  justify-content: space-around;
  background-color: rgb(187, 232, 217);
}
.img {
  border: solid black;
  width: 10%;
  height: 35px;
  margin: 5px;
  border-radius: 50%;
}
.img img{
  width: 100%;
  height: 35px;
  border-radius: 50%;
}
.home {
  border: solid black;
  width: 7%;
  height: 35px;
  margin: 5px;
  margin-left: 10%;
  text-align: center; 
  background-color: magenta;
  font-size: 20px;
}
.about {
  border: solid black;
  width: 7%;
  height: 35px;
  margin: 5px;
  text-align: center;
  background-color: magenta;
  font-size: 20px;
}
.service {
 border: solid black;
  width: 7%;
  height: 35px;
  margin: 5px; 
  text-align: center;
  background-color: magenta;
  font-size: 20px;

}
.product {
  border: solid black;
  width: 7%;
  height: 35px;
  margin: 5px;
  text-align: center;
  background-color: magenta;
  font-size: 20px;

}
.contact {
  border: solid black;
  width: 7%;
  height: 35px;
  margin: 5px;
  text-align: center;
  background-color: magenta;
  font-size: 20px;
}
.A {
  border: solid black;
  width: 20%;
  height: 38px;
  margin: 3px;
  margin-left: 10%;
  display: flex;
  justify-content: center;
}
.login {
  border: solid black;
  width: 45%;
  height: 30px;
  margin: 2px;
  text-align: center;
  background-color: rgb(225, 136, 225);
  font-size: 20px;

  
}
.some {
  border: solid black;
  width: 45%;
  height: 30px;
  margin: 2px;
  text-align: center;
  background-color: rgb(227, 142, 227);
  font-size: 20px;
  
}
.navbar1 {
  border: solid black;
  width: 99%;
  height: 50px;
  margin: 5px;
}
.containeer {
  border: solid black;
  width: 99%;
  height: 550px;
  margin: 3px;
  display: flex;
}
.containeer1 {
  border: solid black;
  width: 50%;
  height: 541px;
  margin: 2px;
}
.containeer1 img{
  width:100%;
  height: 542px;
}